.image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 600px;
	min-height: 800px;
}

.image-container img {
	padding: 45px;
	height: 75%;
	max-height: 1200px;
}

.loading {
	position: absolute;
	top: 0;
	border-radius: 5px 5px 28px 28px;
	background-color: rgba(26, 31, 37, 0.988);
	width: 100%;
	height: 100%;
}

.spinner{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}